#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../images/shopping (1).png");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #A6FFA1; /* Soft green */
    background-position: center;
}

/* Navigation */
nav ul {
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    list-style: none;
    gap: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #A09EBB; /* Soft purple */
    font-weight: bold;
}

h1 {
    font-size: 70px;
    text-align: center;
    max-width: 600px;
    color: #A09EBB; /* Soft purple */
    line-height: 65px;
    margin-bottom: 20px;
}

p {
    max-width: 350px;
    text-align: center;
    color: #B5D2CB; /* Soft teal */
    font-weight: 100;
    margin-bottom: 20px;
}

/* Buttons */
.intro__button {
    padding: 10px;
    width: 300px;
    border: none;
    background-color: #A8AEC1; /* Neutral gray-blue */
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

.intro__button:hover {
    cursor: pointer;
    background-color: #A09EBB; /* Soft purple */
    color: white;
    transition: all 0.5s;
}