body {
  /* background-color: #A09EBB
    #A8AEC1
    #B5D2CB
    #BFFFBc
    #A6FFA1
    #FFFFFF; */
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  background-image: url("../images/shopping(1).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #ffffff;
  background-position: center;
  /* width: 100%; */
  p {
    max-width: 350px;
    text-align: center;
    color: #a09ebb;
    font-weight: 500;
    margin-bottom: 20px;
    z-index: 1;
  }
}

#home::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%;
    height: 100dvh;
    opacity: 0.7;
}

nav ul {
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  z-index: 2;
  li a {
    text-decoration: none;
  }
}

h1 {
  font-size: 70px;
  text-align: center;
  max-width: 600px;
  color: #a09ebb;
  line-height: 65px;
  margin-bottom: 20px;
  z-index: 1;
}

.intro__button {
  font-weight: bold;
  font-family: "Inter", sans-serif;
  padding: 10px;
  width: 300px;
  border: none;
  color: #ffffff;
  background-color: #a09ebb;
  z-index: 1;
}

.intro__button:hover {
  cursor: pointer;
  transform: translateY(-5px);
  color: white;
  transition: ease 0.5s;
}

input[type="search"] {
  border: none;
  padding: 10px 10px 10px 30px;
  background-color: white;
  border-radius: 30px;
  width: 100%;
  color: black;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 1.5px solid #A09EBB;
}

input[type="search"]:focus {
  outline: none;
  border: 2px solid #A09EBB;
}

.input__container {
    position: relative;
    width: 250px;
}

.input__container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: gray;
}

.sign__up {
  border: none;
  background-color: #a09ebb;
  padding: 15px;
  width: 100px;
  li a {
    font-family: "Inter", sans-serif;
    color: white;
  }
}

.sign__in{
    padding: 8px;
    border: 2px solid #A09EBB;
}
